[Sapphire Vega 64 Nitro+]
pci_id=1002:687F
vbios_version=113-D0500110-O01
fan_control=True
fan_pwm_min=35
temp_min=40
fan_curve_pow=3
fan_semi_passive=True
power_cap=360000000

[Sapphire RX 580 Pulse]
pci_id=1002:67DF
vbios_version=113-4E353BU-O4E
fan_control=True
fan_pwm_min=35
temp_min=40
fan_curve_pow=3
fan_semi_passive=True
