[Unit]
Description=Radeon fan control
ConditionPathExists=/etc/radeon-fan-control

[Service]
ExecStart=/usr/bin/radeon-fan-control /etc/radeon-fan-control
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
